* {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: flex-end;
}
header> a {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}
.logo {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}
form {
    display: flex;
    justify-content: center;
    height: 30px;
}
